@model SistemaSaldoAFavor.Models.SaldosAFavor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Aplicacion de Saldos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="form-inline">
            <div class="form-group">
                <label>No. de Saldo:</label>
                <input class="form-control" placeholder="No. de Saldo" id="txtNoSaldo" name="txtNoSaldo">
            </div>
            <button type="button" class="btn btn-default" id="btnBuscar">Buscar</button>
        </div>
    </div>
    <div class="col-lg-4">

    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("ApplicarSaldo", "AplicacionSaldos", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            }

            <fieldset>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Recibo, new { placeholder = "Recibo", autofocus = "autofocus", @class = "form-control" , disabled= "disabled" })
                            @Html.ValidationMessageFor(a => a.Recibo)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Fecha, new { placeholder = "Fecha", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.Fecha)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.RNC, new { placeholder = "RNC", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.RNC)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Cliente, new { placeholder = "Cliente", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.Cliente)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Usuario, new { placeholder = "Usuario", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.Usuario)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.TipoPago, new { placeholder = "Tipo Pago", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.TipoPago)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.MontoRecibo, new { placeholder = "Monto Recibo", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.MontoRecibo)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.MontoAFavor, new { placeholder = "Monto A Favor", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.MontoRecibo)
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.MontoDisponible, new { placeholder = "Monto Disponible", @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(a => a.MontoDisponible)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(a => a.MontoAAplicar, new { placeholder = "Monto a Aplicar", @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.MontoAAplicar)
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(a => a.Comentario, new { placeholder = "Observacion", @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Comentario)
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <input type="submit" value="Aplicar" class="btn btn-lg btn-success btn-block" />
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </fieldset>
        }
    </div>
    <!-- /.col-lg-12 -->
</div>